<% permissions = @role.sa? ? Permission.possible_permissions : @role.permissions %>

<% permissions.group_by(&:subject_class).each do |group| %>
  <h3><%= group.first.pluralize %></h3>
  <ul>
    <% group.last.each do |perm| %>
      <li><%= perm.action %></li>
    <% end %>
  </ul>
<% end %>
