<div class="container">
	<div class="well">
		<% @res.map do |h| %>
			<div class="row">
				<div class="span4"><%= h.keys.first %></div>
				<div class="span8">: <%= h.values.first %></div>		
			</div>	
		<% end %>
	</div>
</div>
